{% extends "layout.html.twig" %}

{% block content %}
    <script>
        function writeArtistsAsJson(e) {

            const checkboxes = document.querySelectorAll('[data-artist-checkbox]')
            let artistIds = []
            checkboxes.forEach((element) => {
                if(element.checked) {
                    artistIds.push(element.value)
                }
            })
            document.getElementById('artist-ids').value = artistIds.join(',');
            return true;
        }
    </script>
    <h2>Select Artists</h2>
    <form method="post" action="?action={{ action }}" onsubmit="return writeArtistsAsJson(event)">
        <input type="hidden" name="action" value="{{ action }}" />
        <input type="hidden" name="playlist-id" value="{{ playlist.id }}" />
        <div class="form-group">
            <input type="text" name="new-playlist-name"
                   class="form-control mb-2" placeholder="Name of new Playlist" required="required" 	/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create Playlist</button>
        <input type="hidden" name="artistsJson" value="" id="artist-ids" />
        {% for artist in artists  %}
        <div class="form-group">
            <div class="form-check">
            <input type="checkbox" data-artist-checkbox class="form-check-input" id="{{ artist.id }}" value="{{ artist.id }}">
            <label for="{{ artist.id }}" class="form-check-label">{{ artist.name }}</label>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-2">Create Playlist</button>
    </form>
{% endblock %}