{% extends "layout.html.twig" %}

{% block content %}
    {% if packedDuplicates|length == 0 %}
        <h2>No Duplicates were found</h2>
    {% else %}
        <h2>Select Tracks to be removed</h2>
        <div class="alert alert-warning">Here all duplicate tracks are shown.
            <br />
           Check if the selections were made correctly before you submit
        </div>
        <form method="post" action="?action={{ action }}">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
            <input type="hidden" name="playlist" value="{{ playlist }}"/>
            <input type="hidden" name="playlistSnapshotId" value="{{ playlistSnapshotId }}"/>
            {% for duplicatePack in packedDuplicates %}
                <div class="table-responsive">
                    <table class="table-striped w-100">
                        <tr>
                            <th style="width: 10%;">Delete</th>
                            <th style="width: 45%;">Tracks</th>
                            <th style="width: 45%;">Artists</th>
                        </tr>
                        {% for track in duplicatePack %}
                            {% set uniqueTrackId = "track-#{loop.parent.loop.index}-#{loop.index}" %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="tracks[{{ track.track.uri }}][]" id="{{ uniqueTrackId }}" value="{{ track.track.positionInPlaylist }}"
                                           {% if not loop.first %}checked="checked"{% endif %} />
                                </td>
                                <td>
                                    <label for="{{ uniqueTrackId }}">
                                        {{ track.track.name }}
                                    </label>
                                </td>
                                <td>
                                    <label for="{{ uniqueTrackId }}">
                                        {% for artist in track.track.artists %}
                                            {{ artist.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
            <br/>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    {% endif %}
{% endblock %}