{% extends "layout.html.twig" %}

{% block content %}
    <h2>Select Playlist</h2>
    {% for spotifyPlaylist in spotifyPlaylists.items  %}
        <a href="/?action={{ action }}&playlist={{ spotifyPlaylist.id }}">
            {% if spotifyPlaylist.id in configuredPlaylistIds|keys %}
                <strong>{{ spotifyPlaylist.name }}</strong>
            {% else %}
                {{ spotifyPlaylist.name }}
            {% endif %}
        </a>
        <br />
    {% endfor %}
{% endblock %}