{% extends "layout.html.twig" %}

{% block content %}
    <h2>Select Artist</h2>
    <form method="get">
        <input type="hidden" name="action" value="{{ action }}" />
        <div class="row">
            {% for artist in artists  %}
                <div class="form-check col-3">
                    <input class="form-check-input" type="radio"
                           required name="artist"
                           {% if loop.first %}checked="checked"{% endif %}
                           id="artist-{{ artist.id }}" value="{{ artist.id }}">
                    <label class="form-check-label" for="artist-{{ artist.id }}">
                       {{ artist.name }}
                        {% if artist.images %}
                            <br />
                            <img src="{{ artist.images.0.url }}" width="200" />
                        {% endif %}
                        <br />
                        <a href="{{ artist.external_urls.spotify }}" target="_blank">Open artist in Spotify</a>
                    </label>
                </div>
            {% endfor %}
        </div>
        <h2>Select Playlist</h2>
        <div class="form-group mb-2">
            {% include 'PlaylistSelect.html' with {'playlists': playlists} %}
        </div>
        <h2>or create a new one</h2>
        <p>If you enter a name for the new playlist, all songs will be added in the new playlist. otherwise the songs will be added in the selected playlist above</p>
        <div class="form-group mb-2">
            <input type="text" name="new-playlist-name" class="form-control" placeholder="New Playlist Name" />
        </div>
        <br />
        <div class="form-check col-3">
            <input class="form-check-input" type="checkbox" name="include-remixes-of-other-artists"
                   id="include-remixes-of-other-artists"
                   value="1">
            <label class="form-check-label" for="include-remixes-of-other-artists">
                Include remixes of other Artists
            </label>
        </div>
        <br />

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
{% endblock %}