<select name="{{ name|default("playlist") }}" class="form-control">
  {% for playlist in playlists.items  %}
    <option value="{{ playlist.id }}">
      {{ playlist.name }}
    </option>
  {% endfor %}
</select>