#overview-cards .card-wrapper {
	padding: 5px;
}

#overview-cards .card-text {
	min-height: 50px;
}

#artistTracksFromPlaylistToPlaylist {
	background-color: #6ed286;
}

#allTracksByArtist{
	background-color: #dcdcdc;
}

#automaticPlaylistsIntoPlaylistImporter {
	background-color: #8bb6e3;
}

#removeDuplicateTracksFromPlaylist {
	background-color: #56c5d5;
}

#removeTracksFromPlaylistByLikedTracks {
	background-color: #9f73f5;
}

#automaticPlaylistBackup {
	background-color: #ffba33;
}

#topArtists {
	background-color: #b4e0b5;
}

#topTracks {
	background-color: #f5ffbf;
}

#duplicateTracksOfPlaylists {
	background-color: #ff7ae4;
}

#trackHistory {
	background-color: #cbff7a;
}