{% extends "layout.html.twig" %}

{% block content %}
    <div id="overview-cards" class="row">
        {% for actionName, actionInfo in actions %}
            <div class="card-wrapper  col-lg-6 col-md-12">
                <div class="card" id="{{ actionInfo.id }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ actionInfo.name }}</h5>
                        <p class="card-text">{{ actionInfo.description }}</p>
                        <a href="?action={{ actionName }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block backToOverview %}{% endblock %}