<!DOCTYPE html>
<html>
<head>
    {% block scripts %}
        <script src="/Resources/Public/vendor/jquery/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="/Resources/Public/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="/Resources/Public/vendor/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/Resources/Public/Css/style.css"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Spotify Tools  {% endblock %} | andi3.net</title>
</head>
<body>
<header class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="/">Spotify Tools</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
{#            <li class="nav-item">#}
{#                <a class="nav-link " href="/">Overview</a>#}
{#            </li>#}
        </ul>
        <span class="navbar-text">
            {{ user.display_name }}
        </span>
    </div>
</header>
<div id="content">
    <br/>
    <div class="container">
        {% block content %}{% endblock %}
        {% block backToOverview %}
            <br /><br />
            <a href="/" class="btn btn-primary">Back to overview</a>
            <br /><br />
        {% endblock %}
    </div>
</div>
</body>
</html>