{% extends "layout.html.twig" %}

{% block content %}
    <h2>Top Artists{% if selectedTimeRange %} - {{ timeRanges[selectedTimeRange] }}{% endif %}</h2>
    <br/>
    <div>
        <strong>Select time range:</strong>
        {% for key,value in timeRanges %}
            <a href="?action={{ action }}&time_range={{ key }}" class="btn btn-primary">{{ value }}</a>
        {% endfor %}
    </div>
    {% if tops %}
        <br/>
        <br/>
        <div>
            <table class="table" style="width: 100%;">
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
                {% for artist in tops.items %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {% if artist.images.2 %}
                                <a href="{{ artist.external_urls.spotify }}" target="_blank">
                                    <img src="{{ artist.images.2.url  }}" loading="lazy" width="64" />
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ artist.external_urls.spotify }}" target="_blank">
                                {{ artist.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}